%h2 Hello Again!
%p
  That's weird, looks like you've already RSVP'd.
%p
  Something changed with your plans?
  No problem!
  Just shoot us an email at
  <a href='mailto:us@grahamheartsjess.com'>us@grahamheartsjess.com</a>,
  or send us a text or whatever.
%p
  Did we get that wrong? You can always
  %a(href=invitations_path) try that search again.
