.well.well-sm
  %h1 Hi #{@invitation.name}, you've already RSVP'd!
  %p
    Need to change or update your RSVP?
    No problem!
    Just shoot an email to
    <a href='mailto:us@grahamheartsjess.com'>us@grahamheartsjess.com</a>
    or our regular email addresses. Or phones. Whatevs.
  %p
    Did we get that wrong? You can always
    %a(href=invitations_path) try that search again
